body {
    margin: 0;
    padding: 0;
}

#pictureFrame {
    width: 80%;
    height: 80%;
    margin: 20px 0 0 10%;
    box-shadow: 5px 5px 5px 5px #777777;
    text-align: center;
}

#pictureFrame.fullsize {
    width: auto;
    height: auto;
    text-align: left;
}

#thumbsSlider {
    font-size: 0; /* Hides whitespace */
    height: 15%;
}

#thumbsSlider ul {
    margin: 0;
    padding: 0;
}

#thumbsSlider ul li {
    display: inline-block;
    cursor: pointer;
}

#mainPicture {
    height: 100%;
    cursor: zoom-in;
}

#mainPicture.fullsize {
    height: auto;
    cursor: zoom-out;
}