body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: linear-gradient(90deg, rgba(210, 212, 159, .5) 50%, transparent 50%), linear-gradient(rgba(210, 212, 159, .5) 50%, transparent 50%);
    background-size: 15px 15px;
}

#pictureFrame {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 20px 0 0 10%;
    box-shadow: 5px 5px 5px 5px #777777;
    text-align: center;
    background-color: #FAFFF0;
}

#pictureFrame.fullsize {
    width: auto;
    height: auto;
    text-align: left;
    display: inline-block;
    margin-left: 0;
}

#thumbsSlider {
    font-size: 0; /* Hides whitespace */
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 90px;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 3px 3px 5px 1px #d1d1d1;
    background-color: #F2EEE2;
}

#thumbsSlider ul {
    margin: 0;
    padding: 0;
}

#thumbsSlider ul li {
    display: inline-block;
    cursor: pointer;
}

.thumbnail {
    opacity: 0.6;
}

.thumbnail.active {
    opacity: 1.0;
}

#mainPicture {
    max-height: 100%;
    max-width: 100%;
    cursor: zoom-in;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#mainPicture.fullsize {
    max-height: none;
    max-width: none;
    height: auto;
    width: auto;
    cursor: zoom-out;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.navPrevious {
    position: absolute;
    background: rgba(200, 200, 200, 0.6);
    width: 32px;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    z-index: 10;
}

.navNext {
    position: absolute;
    background: rgba(200, 200, 200, 0.6);
    width: 32px;
    height: 100%;
    padding: 0 10px;
    right: 0;
    cursor: pointer;
    z-index: 10;
}

.navPreviousIcon {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url('../assets/icons/spritesheet_navigation_32.png') 0 0;
    width: 32px;
    height: 32px;
}

.navNextIcon {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url('../assets/icons/spritesheet_navigation_32.png') 32px 0;
    width: 32px;
    height: 32px;
}